---
layout: default
---

<div class="home-wrapper">
<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <div class="post-meta">{% if post.author %}<div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person"><div itemprop="name">{{ post.author }}</div></div>{% endif %}<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></div>
        {% if post.cover.size > 0 %}
          <div class="cover" style="{% if post.cover.size > 0 %}background-image: url({{post.cover}}){% endif %}">
            
          </div>
        {% endif %}
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="details">
          <div class="excerpt">
            {{ post.excerpt | truncatewords:30}}
          </div>
          <div class="read-more">
            <a href="{{ post.url | prepend: site.baseurl }}">Read more..</a>
          </div>
        </div>
      </li>
    {% endfor %}    
  </ul>

  <!-- <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->

</div>
</div>