/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    height: 63px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    img {
        height: 60px;
    }
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 0 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        background-color: white;
        border-color: $grey-color-light;
        box-shadow: 0 1px 7px rgba(0,0,0,.05);
        padding: 20px;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
        width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 12));
        width:         calc(#{$content-width} - (#{$spacing-unit} * 12));
        text-align: left;
        margin-bottom: $spacing-unit;
        @include media-query($on-palm) {
            width: 90%;
            display: block;
        }
        a.post-link {
            font-size: 24px;
            font-weight: 600;
            color: #333;
            &:hover {
                color: #333;
            }
            &:visited {
                color: #333;
            }
        }
        .post-meta {
            .author {
                color: #333;
                font-size: 14px;
            }
            time {
                font-size: 12px;
            }
        }
        .cover {
            margin-bottom: 15px;
            margin-top: 15px;
            max-width: 100%;
            display: block;
            height: 150px;
            background: linear-gradient(135deg, #fd9159, #4b7fc1);
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
        }
        .details {
            .read-more {
                a {
                    font-size: 14px;
                    color: #858282;
                    &:hover {
                        color: #858282;
                    }
                    &:visited {
                        color: #858282;
                    }
                }
            }
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    .post-meta {
        margin-bottom: 15px;
        .author {
            color: #333;
            font-size: 16px;
        }
        time {
            font-size: 12px;
        }
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    img {
        max-width: 100%;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.recent-items {
    text-align: center;
    .item {
        text-align: left;
        width: 30%;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        height: 250px;
        box-shadow: 0 1px 7px rgba(0,0,0,.05);
        @include media-query($on-palm) {
            width: 100%;
            display: block;
            margin-bottom: 60px;
            margin-right: auto;
            margin-left: auto;
        }
        .hero {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            width: 100%;
            display: block;
            height: 100px;
            background: linear-gradient(135deg, #fd9159, #4b7fc1);
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
        }
        .details {
            height: 150px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            background-color: white;
            padding: 15px;
            .title {
                height: 120px;
                h2 {
                    line-height: 1.3em;
                    font-weight: 600 !important;
                }
            }
            .author {
                height: 30px;
                color: #afafaf;
            }
        }
    }
}

.standard.img {
    img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.standard.video {
    video {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 500px;
        @include media-query($on-laptop) {
            max-width: 100% !important;
        }
    }
}

.standard.yt.embed {
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%; /* aspect ratio 16:9 */
    height: 0;
    margin-bottom: 30px;
    margin-top: 20px;
    iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
}

.img {
    img {
        margin-left: auto;
        max-width: 100% !important;
        margin-right: auto;
        display: block;
    }
}

.video, .medium-insert-videos {
    video {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 500px;
        @include media-query($on-laptop) {
            max-width: 100% !important;
        }
    }
}

.yt.embed {
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%; /* aspect ratio 16:9 */
    height: 0;
    margin-bottom: 30px;
    margin-top: 20px;
    iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
}

#advertisement-after-post {
    width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    position: relative;
    video {
        // width: 300px;
        // @include media-query($on-palm) {
        //     width: 100%;
        // }
    }

    // @include media-query($on-palm) {
    //     width: 100%;
    // }
}
